@page "/"

<PageTitle>Moogle</PageTitle>

<h1>M<strong><a>oog</a></strong>le📚 </h1>


<input class="p-1 my-4" @bind="query" placeholder="   Do you want to ask something?">

<button type="default" class="btn btn-primary" @onclick="RunQuery"> 🔔</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p><strong><a>Did you mean @result.Suggestion?</a></strong></p>
    </div>
}
<ul class="results">
@foreach (var item in result.Items()) {
        
        <div class="item">
            <p class="title"><strong><a href="#">@item.Title</a></strong></p>
            <p> @item.Snippet. </p>
            <p> ⏫⏫ </p>
        
        </div>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();
    
    private void RunQuery() {
        result = Moogle.Query(query);
    }
}
